<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <app-editor-toolbar (editorRequest)="handleRequest($event)"></app-editor-toolbar>
    </div>
  </div>
  
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--9-col">
      <app-editor-workarea #workArea (editorRequest)="handleRequest($event)"></app-editor-workarea>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <app-editor-properties #properties (editorRequest)="handleRequest($event)"></app-editor-properties>
    </div>
  </div>
  
  

