.work-area-container {
    overflow: auto;
}

.workarea-grid {
    background:rgb(250, 250, 250);
    background-size: 10px;
    background-image: linear-gradient(rgb(230, 230, 230) .001em, transparent .1em), linear-gradient(90deg, rgb(230, 230, 230) .001em, transparent .1em);
}
