.checkbox {
    /*background-color: rgb(148, 211, 255);*/
    display: inline-block;
    margin-left: 5em;
  }

  .label{
    /*background-color: rgb(192, 230, 67);*/


    display: inline-block;
  }

  .draggable {
    background-color: rgb(240, 240, 240);
    touch-action: none;
    user-select: none;

  }

  .selected {
    background-color: rgb(182, 211, 231);
    border: 1px #000000 dashed;
  }