<h5>Properties</h5>
<mat-card [hidden]="IsVisible">No element selected</mat-card>
<table mat-table [dataSource]="Properties" class="mat-elevation-z8" [hidden]="!IsVisible">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let property"> {{property.Name}} </td>
    </ng-container>
  
    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value </th>
      <td mat-cell *matCellDef="let property"> {{property.Value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>